<mat-card class="form">
  <mat-form-field>
    <mat-label>Choose value</mat-label>
    <input matInput placeholder="choose X" value="0" type="number" (change)="X = input.valueAsNumber; calc()" #input>
  </mat-form-field>
</mat-card>
<div cdkDropListGroup class="body">
  <div class="example-container">
    <h2>Equation</h2>
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list equation"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag [innerHTML]="item"></div>
    </div>
  </div>

  <div class="example-container">
    <h2>Selected equation</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag [innerHTML]="item"></div>
    </div>
  </div>

  <div class="example-container">
    <h2>result</h2>

    <div class="example-list">
      <div class="example-box">{{result}}</div>
    </div>
  </div>
</div>
