<app-chart [chartData]="chartData"></app-chart>
<p>dashboard works!</p>

<mat-card>
  <form [formGroup]="symbolForm" (submit)="getKlines()">

    <mat-form-field appearance="fill">
      <mat-label>Symbol</mat-label>
      <mat-select formControlName="symbol">
        <mat-option  *ngFor="let symb of symbols" [value]="symb.value">
          {{symb.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Interval</mat-label>
      <mat-select formControlName="interval">
        <mat-option  *ngFor="let interval of intervals" [value]="interval">
          {{interval}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--    <mat-form-field class="example-full-width">-->
    <!--      <mat-label>Choose a date</mat-label>-->
    <!--      <input matInput [matDatepicker]="picker" >-->
    <!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--      <mat-datepicker #picker formControlName="start_time"></mat-datepicker>-->
    <!--    </mat-form-field>-->

    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" formControlName="start_time">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker2" formControlName="end_time">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker2 ></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button type="submit"> submit</button>
  </form>
</mat-card>

<!-- Toolbar -->
<p>Here are some links to help you get started:
  <button (click)="ping()">PING</button>
  |||
  <button (click)="socketTest()">SOCKET TEST</button>
</p>

<br>
<mat-card>
  <app-draggable></app-draggable>
</mat-card>
